<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="justify-content-center">
  <!-- Chama o componente que faz a chamada pra api -->
  <app-home></app-home>
</div>

<router-outlet></router-outlet>
