<div class="row">
  <div class="row-justify-content-center">
    <div class="card">
      <div class="card-header">
        <label>
          <!-- No H1 tem a interpolação para mostrar a região resgatada da API -->
          <h1>{{ previsao.region }}</h1>
        </label>
      </div>

      <div class="card-body">
        <!-- O *ngFor cria um array que percorrerá os dias de previsão que foram recuperados da API -->
        <ul class="list-group" *ngFor="let dia of previsoes">
          <div>Data: {{ dia.date_br }}</div>
          <div>
            <img src="{{dia.image}}" alt="">
          </div>
          <label>
            <h6>{{dia.text}}</h6>
          </label>
        </ul>
      </div>
    </div>
  </div>
</div>
