.card {
  border-radius: 0;
  background-color: #f4f4f4;
  border: 1px solid #dbd9d9;
  border-radius: 2px;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
